@import "../../Sass/Variables.scss";

.subscribe-button {
  margin-left: auto;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 20px;
  background-color: $red;
  color: $heading-color-dark;
}
